<content>
  <div class="container">
    <div class="wrapper">
      <form [formGroup]="addForm">
        <ul class="panel add-panel">
          <li>
            <input type="text" placeholder="Nome" formControlName="name" [ngClass]="validateForm(this.addForm.get('name')?.errors, this.addForm.get('name')?.touched)" />
          </li>

          <li>
            <input type="text" placeholder="Email" formControlName="email" [ngClass]="validateForm(this.addForm.get('email')?.errors, this.addForm.get('email')?.touched)" />
          </li>
          <li>
            <button
              class="add-btn btn"
              [disabled]="!addForm.valid"
              (click)="addParticipant()"
              (mouseenter)="showCopyModal()"
              (mouseleave)="leaveModal()"
              (focus)="showCopyModal()"
              (focusout)="leaveModal()"
              [ngClass]="allowButtonAddPanel()"
            >
              <i class="fa-solid fa-plus"></i>
            </button>
          </li>
        </ul>
      </form>
    </div>
  </div>

  <div class="container">
    <div class="wrapper">
      <div
        class="notation"
        *ngIf="this.currentUrl == '/raffle/new' && !this.copyBtnClicked"
      >
        <h2>Copie esse código, ele só aparecerá dessa vez!</h2>
      </div>
      <form [formGroup]="adminForm">
        <ul class="panel admin-panel">
          <li>
            <input
              type="text"
              placeholder="Orçamento"
              formControlName="budget"
              (input)="formatBudget($event)"
              [value]="this.raffle.budget"
              [ngClass]="validateForm(this.adminForm.get('budget')?.errors, this.adminForm.get('budget')?.touched)"
            />
          </li>
          <li>
            <input
              class="admin-code"
              type="text"
              placeholder="Código de admin"
              formControlName="adminCode"
              [ngClass]="validateForm(this.adminForm.get('adminCode')?.errors, this.adminForm.get('adminCode')?.touched)"
            />

            <button
              class="copy-btn btn"
              title="Copiar link amigo secreto"
              (click)="copyAdminCode()"
            >
              <i class="fa-solid fa-copy"></i>
            </button>
            <button
              class="start-btn btn"
              title="Iniciar amigo secreto"
              [disabled]="
                this.adminForm.valid && this.raffle.participants.length >= 4
                  ? null
                  : true
              "
              [ngClass]="allowButtonControlPanel()"
              (click)="startSecretSanta()"
            >
              Iniciar
            </button>
          </li>
        </ul>
        <div
          class="copy-message"
          id="copy-message"
          [hidden]="isCopyMessageHidden"
        >
          Código copiado!
        </div>
      </form>
    </div>
  </div>

  <div class="container">
    <div class="wrapper">
      <ul class="panel">
        <li>
          <!-- <button
            class="add-btn"
            (click)="this.currentUrl == '/raffle/new' ? !this.copyBtnClicked ? confirmCopyAdminCode.toggle() : saveData() : saveData()"
            [disabled]="!this.canSave ? true : null"
            [ngClass]="allowSaveButton()"
          >
            <i [ngClass]="savedBtnClass.class"></i>
            {{ this.savedBtnClass.text }}
          </button> -->
          <button
            class="del-btn btn"
            (click)="confirmDelete.toggle()"
            [disabled]="this.currentUrl == '/raffle/new' ? true : null"
            [ngClass]="
              this.currentUrl == '/raffle/new' ? 'btn btn-disabled' : 'btn'
            "
            [title]="
              this.currentUrl == '/raffle/new'
                ? 'Não é possível deletar um novo amigo secreto'
                : 'Deletar amigo secreto'
            "
          >
            <i class="fa-solid fa-trash"></i>
          </button>
        </li>
      </ul>
    </div>
  </div>
</content>

<app-modal #confirmDelete class="modal">
  <h1>#Confirmar deleção</h1>
  <p>
    Tem certeza que deseja deletar o amigo secreto
    <strong>{{ raffle.code }}</strong
    >? Essa ação é irreversível.
  </p>

  <ul class="panel">
    <li>
      <button class="btn add-btn" (click)="deleteRaffle()">
        <i class="fa-solid fa-check"></i> Deletar
      </button>
    </li>
    <li>
      <button class="btn del-btn" (click)="confirmDelete.toggle()">
        <i class="fa-solid fa-xmark"></i> Cancelar
      </button>
    </li>
  </ul>
</app-modal>

<app-modal #confirmCopyAdminCode class="modal">
  <h1>#Copiar código de admin!</h1>
  <p>
    Salve o código de admin! Ele só aparecerá uma vez. Será necessário para
    iniciar o amigo secreto. <br />
    <strong>Código: </strong> {{ this.raffle.adminCode }}
  </p>

  <ul class="panel">
    <li>
      <button
        class="btn add-btn"
        (click)="copyAdminCode(); confirmCopyAdminCode.toggle()"
      >
        <i class="fa-solid fa-copy"></i>
      </button>
    </li>
  </ul>
  <div class="copy-message" id="copy-message" [hidden]="isCopyMessageHidden">
    Código copiado!
  </div>
</app-modal>
