content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: auto;
}

content > * {
    margin: 20px;
}

h1 {
    font-size: 2.2rem;
}

app-navbar {
    position: absolute;
    left: 0;
    z-index: 9999 !important;
}

app-modal {
    position: absolute;
    z-index: 9998;
}

.modal h1 {
    font-size: 1.7rem;
    margin-top: 10px;
    margin-bottom: 20px;
}

.modal p {
    margin-bottom: 5px;
    line-height: 2rem;
}

@media only screen and (max-width: 1248px) {
    .modal p {
        margin-bottom: 25px;
    }    
}