<body>
  <div class="container">
    <img class="logo" src="../../assets/logo.svg" alt="" />

    <div class="content">
      <h2>ENTRE EM UM AMIGO SECRETO JÁ EXISTENTE</h2>

      <form [formGroup]="redirectForm">
        <div class="code-div">
          <input
            class="access-code"
            type="text"
            placeholder="Código de acesso"
            maxlength="11"
            formControlName="raffleId"
          />
          <button [disabled]="!this.redirectForm.valid ? true : null" (click)="redirect()" class="btn redirect-btn"><i class="fa-solid fa-arrow-right"></i></button>
        </div>
      </form>

      <p>OU</p>

      <a routerLink="/raffle/new">
        <button class="btn new-btn">Iniciar um novo amigo secreto</button>
      </a>
    </div>

    <button class="btn about-btn" routerLink="/about">
      Sobre
    </button>
  </div>
</body>