:root {
  --main-blue: #102030;
  --light-blue: #3B9DFF;
  --off-white: #ecece3;
  --white: #ffffff;
  --green: #028a0f;
  --hover-green: #02780F;
  --red: #D21404;
  --hover-red: #B21404;
}


body {
  background-color: var(--off-white);
  background-image: url('./assets/background_50.png');
  font-family: "Roboto", sans-serif;

  display: flex;
  justify-content: center;
  width: 100vw;
}

/* .body {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
  width: 100vw;
} */

.btn-disabled {
  border: 1px solid gray;
  background-color: gray;
}

@media only screen and (max-width: 1248px) {
  body {
    display: inline;
    height: 100%;
    overflow: auto;
  }
}